<h4>Add Post</h4>

<label class="form-label">Select Photos</label>
<input type="file" multiple (change)="onPhotosSelected($event)" class="form-control">

<div class="d-flex gap-2 mt-3 overflow-auto">
  <img *ngFor="let img of postDraft.photoPreviews"
       [src]="img"
       style="height:80px;border-radius:8px;">
</div>

<label class="form-label mt-3">Caption</label>
<textarea class="form-control"
          [(ngModel)]="postDraft.caption"></textarea>

<button class="btn btn-primary w-100 mt-3" (click)="goLocation()">
  Choose Location →
</button>
