<div class="grid">
  <div class="card" *ngFor="let url of urls">
    <ng-container *ngIf="imageMap.get(url) as meta">
      <div class="thumb">
        <img
          *ngIf="meta.src"
          [src]="meta.src"
          [attr.alt]="url"
          loading="lazy"
          width="320"
          height="180"
        />
        <div *ngIf="meta.loading" class="placeholder">Loading…</div>
        <div *ngIf="meta.error" class="error">{{ meta.error }}</div>
      </div>
      <div class="meta">
        <div class="url">{{ url }}</div>
      </div>
    </ng-container>
  </div>
</div>
